SUPABASE_URL=https://spjmdovndnllohpfgirw.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNwam1kb3ZuZG5sbG9ocGZnaXJ3Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MTgxMzA2MCwiZXhwIjoyMDk3Mzg5MDYwfQ.HrABqh3lblHJ94eHpAMVImtsjy8CCrNNsWB4PGpsKi0
MERCADOPAGO_ACCESS_TOKEN=APP_USR-5104847655572155-061818-d450d9f86bf3a57b8be82383531b4dfa-2482619982
SITE_URL=https://francisco123-criador.github.io/Biblioteca-Obsidiana-1.0
BACKEND_PUBLIC_URL=https://backend-biblioteca-obsidiana.onrender.com
SESSION_SECRET=BibliotecaObsidiana_V2_2026!_Jerbinho_9X#4LmP82@Render
